<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                    <a routerLink="/list">
                        <div class="arrow-container">
                            <img *ngIf="showBackBtn" id="arrow-img" [src]="['assets/img/ic_webBack@2x.png']"/>
                        </div>
                    </a>
            </div>
            <div class="col-6">
                <div class="text-center">Lunch Time</div> 
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</header>