agm-map {
    height: 180px;
}

.container-fluid {
    padding:0;
}
.title {
    background-color: rgb(52,179,121);
    color: white;
    padding: 6px 0 6px 12px;
}

.name {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.category {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.address {
    padding-top: 16px;
    padding-left: 12px;
    padding-bottom: 26px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}

.contact {
    padding-left: 12px;
}

.phone {
    padding-bottom: 26px;
}

@media screen and (min-width: 768px) {
    agm-map {
        height: 380px;
    }
}