<!-- Restaurant List Component -->
<div class="list-container">
    <div class="row no-gutters">
      <div class="col">
        <ul>
            <li class="list-item"
                *ngFor="let restaurant of restaurants; let i = index"
                [ngStyle]="
                {
                  'background-image': 'linear-gradient(transparent 60%,
                  #151825), url(' + restaurant.backgroundImageURL + ')'
                }"
                (click)="goToDetails(i, restaurant)">
              <div class="info">
                  <div class="name">{{restaurant.name}}</div>
                  <div class="category">{{restaurant.category}}</div>
              </div>
            </li>
        </ul>
      </div>
    </div>
</div>