<!-- Restaurant List Component -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ul>
          <li class="list-item"
              *ngFor="let restaurant of restaurants; let i = index"
              [ngStyle]="{
                  'background-image': 'linear-gradient(transparent 60%,
                  #151825), url(' + restaurant.backgroundImageURL + ')'
              }">

              <div class="info">
                  <div class="name">{{restaurant.name}}</div>
                  <div class="category">{{restaurant.category}}</div>
              </div>
          </li>
      </ul>
    </div>
  </div>
</div>


<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
