


.container-fluid {
    padding: 0;
}

ul {
    background-color: black;
    list-style: none;
    padding: 0;
}

li {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 180px;
    color: white;
}

li > a, li > a:hover {
    color: white;
}

div.info {
    padding-left: 12px;
    padding-top: 130px;
}

li > div.info > div.name {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

li > div.info > div.category {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
    li {
        min-height: 350px;
    }
    div.info {
        padding-top: 300px;
    }
}